<%- include('../partials/header') %>
<h1>Users Edit Page</h1>
<form action="/users/<%= user.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%- include('_userFormInputs.ejs') %>
</form>
<%- include('../partials/footer') %>